@media screen and (width>=650px) {

    /* main */
    main {
        background: url(images/bg-header-desktop.png) no-repeat;
        background-size: contain;
    }

    .p1 {
        width: 610px;
    }

    .p2 {
        width: 700px;
    }

    .buttons {
        flex-direction: row;
    }

    .logos {
        flex-direction: row;
        gap: 80px;
        flex-wrap: wrap;
    }

    /* footer */
    .footer {
        grid-template-columns: 100px 400px;
        gap: 100px;

    }

    .foot {
        grid-template-columns: 50% 50%;
        text-align: left;
        gap: 25px 30px;
    }
}

@media screen and (width>=850px) {

    /* main */
    .columns {
        grid-template-columns: auto auto auto;
        gap: 20px;
        padding: 0;
    }

    #computer {
        width: auto;
        height: auto;
    }

    /* footer */
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .foot {
        gap: 35px;
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (width>=1175px) {

    /* main */
    .columns {
        grid-template-columns: auto auto auto;
    }

    .img img,
    #computer {
        width: auto;
        height: auto;
    }

    .one {
        padding: 0;
    }

    .info {
        gap: 100px;
        margin-left: -30px;
        flex-direction: row;
    }


    .data {
        text-align: left;
    }
}

@media screen and (width>=1370px) {

    /* main */
    .columns {
        grid-template-columns: 369px 385px 390px;
        gap: 30px;
    }
}